.section {
    padding-top: 94px;
}

.section-3 {
    padding-bottom: 94px;
}

.studio-section {
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.foother-section {
    display: flex;
    align-items: baseline;
}

.section-csrts {
    padding-top: 92px;
    padding-bottom: 96px;
}

.studio-section-link {
    padding-bottom: 94px;
}